:host{
    width: 100%;
    min-height: calc(100vh - 4rem);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2rem 0;

    section{
        width: 60%;
        padding: 2rem 5%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bgc);
        span{
            font-size: 1.2rem;
            font-weight: 600;
            padding-bottom: 1rem;
        }
       form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
            input{
                width: 100%;
                padding: 0.5rem 0.25rem;
                font-size: 0.9rem;
                outline: none;
                border: 1px solid lightgray;
                border-radius: 8px;
            }
            div.password{
                width: 100%;
                display: flex;
                align-items: center;
                border: 1px solid lightgray;
                input{border: none;}
                img{height: 1.2rem;cursor: pointer;}
                background-color: #fff;
                border-radius: 8px;
            }
            p{
                padding: 0 0.25rem;
                height: 0.8rem;
                font-size: 0.8rem;
                width: 100%;
                text-align: start;
            }
            button{
                width: 100%;
                margin: 0;
            }
            span{
                font-weight: 300;
                font-size: 1rem;
                color: rgb(6, 6, 250);
            }
            div.genders{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                width: 100%;
                gap: 10px;
                label{grid-area: 1/1/1/-1;}
                div.gender{display: flex;align-items: center; gap: 10px;
                    input{width: fit-content;}
                }
            }
            

       }
       p{
        span{
            font-size: 1rem;
            font-weight: 300;
            color: rgb(6, 6, 250);
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    }
}
@media screen and (max-width:700px) {
    :host{
        padding: 0 5%;
        section{
            width: 100%;
            padding: 2rem 1rem;
        }
    }
}