  @defer (on viewport) {
<section>
  <span>Ecommerce</span>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()" autocomplete="off">
    <input
      type="text"
      formControlName="name"
      id="name"
      required
      placeholder="Your good name*"
      autocomplete="new-name"
    />
    <p>{{(form.controls.name.dirty && form.controls.name.invalid)?
       "Name is required":""}}</p>
    <input
      formControlName="email"
      type="email"
      autocomplete="new-email"
      placeholder="Enter email*"
    />
    <p>{{(form.controls.email.dirty && form.controls.email.invalid)?
      "Please enter a valid email":""}}</p>

    <div class="password">
      <input
        [type]="isPasswordVisible ? 'text' : 'password'"
        name="new-password"
        placeholder="Your password*"
        formControlName="password"
        autocomplete="new-password"
        id="password"
      />
      <img
        [src]="imagePath"
        alt="show/hide password"
        class="eye"
        (click)="showHidePassword()"
      />
    </div>
    <p>{{(form.controls.password.dirty && form.controls.password.invalid)?
      "Password must be alteast 6 digits long":""}}</p>
    <div class="genders">
      <label>Gender*</label>
      <div class="male gender">
        <label for="male">Male</label>
        <input
          type="radio"
          name="gender"
          id="male"
          value="male"
          formControlName="gender"
        />
      </div>
      <div class="female gender">
        <label for="female">Female</label>
        <input
          type="radio"
          name="gender"
          id="female"
          value="female"
          formControlName="gender"
        />
      </div>
      <div class="other gender">
        <label for="other">Other</label>
        <input
          type="radio"
          name="gender"
          id="other"
          value="other"
          formControlName="gender"
        />
      </div>
    </div>
    <p>{{(form.controls.gender.dirty && form.controls.gender.invalid)?
      "Gender is required":""}}</p>
    <input
      type="text"
      formControlName="phone"
      id="phone"
      required
      placeholder="Your mobile number*"
      autocomplete="new-phone"
    />
    <p>{{(form.controls.phone.dirty && form.controls.phone.invalid)?"Phone number is not valid":""}}</p>

    <button type="submit" app-button>Sign up</button>
    <p style="text-align: center; margin-bottom: 10px">{{ signUpError }}</p>
    <span>Forgot Password?</span>
  </form>
  <p>
    Already have an account? <span (click)="handleNavigateLogin()">Login</span>
  </p>
</section>
} @placeholder{
  <app-loading-spinner>
    <p>please wait while we load the page</p>
  </app-loading-spinner>
}