<header>
  <ng-content />
</header>
@defer (on viewport) {
<section class="products">
  @if(isCorrectPathForFilterVisibility){
    <img src="../../../assets/filter.png" alt="" class="filter-visibility" (click)="handleFilterVisibility()"
    [style]="isFilterVisible?'transform: rotate(180deg);':'transform: rotate(0deg);'">
    <div class="filter" [style]="isFilterVisible ? 'display:block;':'display:none;'">
      <app-filter/>
    </div>
  }
  @if(allProducts.length){
  @for(product of allProducts; track product.id){
  <app-product [product]="product" />
  }
}@else{
<p style="margin-bottom: 40px; width:100%; text-align: center;">No relevent product Found !</p>
}
</section>
}
@placeholder {
  <p>loading...</p>
}
