<section class="filter" [formGroup]="form">
    <div class="gender wrapper">
      <span>Gender</span>
      <div class="input">
          <input type="radio" name="gender" id="male" value="men" formControlName="gender" />
          <label for="male" >Male</label>
      </div>
      <div class="input">
          <input type="radio" name="gender" id="female" value="women" formControlName="gender" />
          <label for="female">Female</label>
      </div>
    </div>
    <div class="category wrapper">
      <span>Category</span>
      <div class="input">
          <input
          type="radio"
          name="category"
          id="electronics"
          value="electronics"
          formControlName="category"
          />
          <label for="electronics">Electronics</label>
      </div>
      <div class="input">
          <input type="radio" name="category" id="jewelery" value="jewelery" formControlName="category" />
          <label for="jewelery">Jewellery</label>
      </div>
      <div class="input">
          <input type="radio" name="category" id="clothing" value="clothing" formControlName="category" />
          <label for="clothing">Clothing</label>
      </div>
    </div>
    <div class="wrapper" style="cursor: pointer;">
        <span (click)="handleClearFilter()">Clear all fiters</span>
    </div>
  </section>
