:host{
  width: 22.5%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-radius: 8px;
  background-color: var(--appBgc);
  section.filter{
  display: flex;
  flex-direction: column;
  gap: 50px;
  div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    span {
      font-size: 1.2rem;
      text-decoration: underline;
    }
    div.input {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
}
@media screen and (max-width: 820px) {
  :host {
    width: 32%;
  }
}
@media screen and (max-width: 480px) {
  :host {
    width: 90%;
  }
}
