:host{
  width: 100%;
  section.filter{
  display: flex;
  flex-direction: column;
  gap: 50px;
  div.wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    span {
      font-size: 1.2rem;
      text-decoration: underline;
    }
    div.input {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
}
