<header class="footer">
    <section class="row-2">
        <section class="col3">
            <h4>Ecommerce</h4>
            <p>Our purpose is to sustainably make the pleasure and benifits of various accessories to many.</p>
        </section>
        <section class="col3">
            <span>Useful Links</span>
            <li>Coupons</li>
            <li>Blog Poducts</li>
            <li>Return policy</li>
            <li>Join Affiliate</li>
        </section>
        <section class="col3">
            <span>Follow us</span>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>Youtube</li>
        </section>
    </section>
    <hr>
    <section class="row-2 copyright">
        <span>Copyright 2024 | Jayant Thakur</span>
    </section>
</header>
