@media screen and (max-width:770px){
    header{
        position: relative;
        /* height: 7rem; */
        margin-bottom: 4rem;
        ul #inputLi{
            position: absolute;
            /* bottom: .625rem; */
            left: 5%;
            bottom: -3rem;
            width: 90%;
            min-width: 400px;
        }
    }
}
@media screen and (max-width:480px){
   header{
    ul{
        #inputLi{
            min-width: 90%;
        }
    }
   }
}